body {
	font-family: Arial, Helvetica, sans-serif;
}

/*    Header    */
header {
	text-align: center;
	border-bottom: 1px solid lightgray;
	padding: 7px;
	padding-top: 0;
}

header > div {
	display: inline-block;
}

.hdr_left {
	float: left;
}

.hdr_right {
	float: right;
}

button {
    border-radius: 3px;
    cursor: pointer;
    background-color: #567b95;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 11px 12px 8px;
}

.icon {
	width: 16px;
	margin-right: 20px;
}

.hdr_subject {
    text-decoration: none;
    color: black;
	font-weight: bold;
	font-size: 14px;
}

.hdr_subject:hover {
	text-decoration: underline;
}

.logo {
	height: 26px;
}

/*  Article */

article{
    width:50%;
    margin: 0 25%;
}
.article_txt > p {
	font-size: 1.3em;
}

.article_hdr{
	font-style: italic;
	font-size: xx-large;
}
.hdr_container{
	position: relative;
	left: -20%;
}
.hdr_container > *{
    width: 140%;
}
.img_ftr{
    text-align: left;
	color: #666;
	margin-top: 0;
}
.credit{
	color: gray;
}
.author {
	font-weight: bold;
}
.date {
	font-size: smaller;
	color: #333;
}
.meta_line > *{
 display: inline-block;
}
.meta_btns {
	float: right;
}
.meta_btn {
	background-color: lightgray;
    border-radius: 50%;
    width: 30px;
    height: 25px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
	border: 1px solid lightgray;
	cursor: pointer;
}
.meta_btn:hover{
	background-color: white;
}

.bookmark_btn{
	display: inline-block;
    padding-left: 8px;
    margin-top: 5px;
    position: absolute;
}

.theory img, .theory table {
	width: 770px;
	height: 648px;
}

.theory img {
	position: absolute;
	z-index: -1;
}

.theory td {
	vertical-align: bottom;
	font-size: smaller;
	padding-bottom: 25px;
}

.theory h2 {
	margin-bottom: 5px;
}

.subtitle {
	font-size: 15px;
	color: gray;
	margin-top: 0;
}

.theory hr {
	width: 70px;
	float: left;
}
.theory_author {
	display: block;
	clear: left;
}

.video {
	text-align: center;
}

.video .img_ftr {
	width: 600px;
	margin: 0 auto;
}

.art_img{
	position: relative;
	left: -5%;
}
.art_img > *{
    width: 110%;
}

.credit a {
	color: inherit;
}


.credit a:hover {
	text-decoration: none;
}

footer.credit{
	font-size: .8em;
	margin: 32px 0;
}

.meta_line {
	margin: 32px 0;
}

footer button{
	width:330px;
	height: 45px;
	font-size: inherit;
}

.meta_line .meta_btn img {
	width: 20px;
	height: 15px;
	margin-top: -2px;
}

.meta_line .meta_btn{
	width: 30px;
	height: 20px;
	margin-left: 15px;
}

/* Related articles */
caption {
	text-align: left;
	font-weight: bold;
}

.table_related img{
	width: 100%;
}

.table_related {
	width: 70%;
}

.img_row td{
	padding: 5px 10px 0px 10px;
}

.credit_row td{
	padding: 0 10px;
	vertical-align: top;
	font-size: 0.7em;
}

.txt_row td {
	padding: 0 10px;
}

.table_related .credit {
	text-align: right;
}

.table_related .date {
	color: gray;
}