header {
	text-align: center;
	border-bottom: 1px solid lightgray;
	padding: 7px;
	padding-top: 0;
}

header > div {
	display: inline-block;
}

.hdr_left {
	float: left;
}

.hdr_right {
	float: right;
}

button {
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
    background-color: #567b95;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    -webkit-letter-spacing: 0.05em;
    -moz-letter-spacing: 0.05em;
    -ms-letter-spacing: 0.05em;
    letter-spacing: 0.05em;
    padding: 11px 12px 8px;
}

.icon {
	width: 16px;
	margin-right: 20px;
}

.hdr_subject {
    text-decoration: none;
    color: black;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.hdr_subject:hover {
	text-decoration: underline;
}

.logo {
	height: 26px;
}